.profile__edit-button {
  background: url(../../../images/logo/profile-edit-button-pencil.svg) center no-repeat;
  width: 18px;
  height: 18px;
  border: 1px solid #fff;
  align-self: center;
  padding: 0;
}